.navbar{
    background-color: #1B1B1B !important;
    *{

        color:#9C9C9C;
    }

    // .navbar-toggler{
    //     background-color: #f0f0f0;   

    // }
}
.active{
    color: #ffffff !important;
   background-color:#0A58CA !important;
   
}