<div class="container-fluid px-md-5">
    <nav class="navbar px-md-5 fixed-top navbar-expand-lg bg-body-tertiary nav-pills" id="portoflio-navbar">
        <div class="container-fluid px-md-5">
            
          <a class="navbar-brand" href="#">
            <div class="my-brand">
              <div>
                <a href="../ar-SA">AR</a>
                /
                <a href="../en-US">En</a>
              </div>
                Sayman
            </div>
            <!-- <img  ngSrc="../../assets/imgs/sayman.logo.svg" width="150" height="50" alt="sayman.logo.svg" priority  > -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home#intro-section" i18n>About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home#experience-section" i18n>Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home#education" i18n>
                  Education
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home#skills" i18n>Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home#projects" i18n>Projects</a>
              </li>
            </ul>
          </div>


        </div>
      </nav>
    
</div>

  
  