<section class="intro-section d-flex justify-content-center align-items-center py-5 px-md-5 my-5">
  <div class="content-container container-fluid px-md-5">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-8" >
              <h1 class="my-name">{{ 'INTRO.NAME' | translate }}</h1>
              <p class="my-3">{{ 'INTRO.DESCRIPTION' | translate }}</p>
              <ul class="list-inline list-social-icons mb-0 px-0">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/saadayman">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-brands fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="../../../../assets/Sayman_Cv (2).pdf" download="">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
          </div>
      </div>
  </div>
</section>
