<section class="projects-section">
  <div class="container text-center">
      <h1 class="white-color">{{ 'PROJECTS.TITLE' | translate }}</h1>
      <div class="timeline" data-aos="zoom-in" >
          <div class="timeline-component" data-aos="fade-up-right">
              <div class="card h-100 front-face">
                  <img src="../../../../assets/imgs/project1.png" class="card-img-top" alt="nixpend">
                  <div class="card-body">
                      <h5 class="card-title">{{ 'PROJECTS.NIXPEND.TITLE' | translate }}</h5>
                      <p class="card-text">{{ 'PROJECTS.NIXPEND.DESCRIPTION' | translate }}</p>
                      <a href="https://nixpend.com" class="btn btn-primary" target="_blank">{{ 'PROJECTS.DEMO' | translate }}</a>
                  </div>
              </div>
          </div>
          <div class="timeline-middle">
              <div class="timeline-point"></div>
          </div>
          <div class="timeline-component" data-aos="fade-up-left">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/ehata.png" class="card-img-top" alt="ehata.co">
                  <div class="card-body">
                      <h5 class="card-title">{{ 'PROJECTS.EHATA.TITLE' | translate }}</h5>
                      <p class="card-text">{{ 'PROJECTS.EHATA.DESCRIPTION' | translate }}</p>
                      <a href="https://ehata.co" class="btn btn-primary" target="_blank">{{ 'PROJECTS.DEMO' | translate }}</a>
                  </div>
              </div>
          </div>
          <div class="timeline-component" data-aos="fade-up-right">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/dento.png" class="card-img-top" alt="dento.co">
                  <div class="card-body">
                      <h5 class="card-title">{{ 'PROJECTS.DENTO.TITLE' | translate }}</h5>
                      <p class="card-text">{{ 'PROJECTS.DENTO.DESCRIPTION' | translate }}</p>
                      <a href="https://saadayman.github.io/DentoWebsite" class="btn btn-primary" target="_blank">{{ 'PROJECTS.DEMO' | translate }}</a>
                  </div>
              </div>
          </div>
          <div class="timeline-middle">
              <div class="timeline-point"></div>
          </div>
          <div class="timeline-component" data-aos="fade-up-left">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/montana.png" class="card-img-top" alt="montana">
                  <div class="card-body">
                      <h5 class="card-title">{{ 'PROJECTS.MONTANA.TITLE' | translate }}</h5>
                      <p class="card-text">{{ 'PROJECTS.MONTANA.DESCRIPTION' | translate }}</p>
                      <a href="https://saadayman.github.io/Montana/" class="btn btn-primary" target="_blank">{{ 'PROJECTS.DEMO' | translate }}</a>
                  </div>
              </div>
          </div>
          <div class="timeline-component" data-aos="fade-up-right">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/realstate.png" class="card-img-top" alt="realstate">
                  <div class="card-body">
                      <h5 class="card-title">{{ 'PROJECTS.MYHOME.TITLE' | translate }}</h5>
                      <p class="card-text">{{ 'PROJECTS.MYHOME.DESCRIPTION' | translate }}</p>
                      <a href="https://myhome-realestate.onrender.com/" class="btn btn-primary" target="_blank">{{ 'PROJECTS.DEMO' | translate }}</a>
                  </div>
              </div>
          </div>
          <div class="timeline-middle">
              <div class="timeline-point"></div>
              <div class="timeline-point timeline-point-bottom"></div>
          </div>
      </div>
  </div>
</section>
