<section class="projects-section">

    <div class="container text-center">
        <h1 class="white-color">Projects</h1>
        <div class="timeline" data-aos="zoom-in">
            <div class="timeline-component"  data-aos="fade-up-right">
                <div class="card h-100 front-face">
                    <img src="../../../../assets/imgs/project1.png" class="card-img-top" alt="nixpend">
                    <div class="card-body">
                      <h5 class="card-title" i18n>Nixpend - Official Website</h5>
                      <p class="card-text" i18n>Nixpend.com is the official profile website for Nixpend, showcasing our company's mission, services, and innovative solutions in Healthcare management.</p>
                      <a href="https://nixpend.com" class="btn btn-primary" target="_blank" i18n>Demo</a>
                    </div>
                  </div>
              </div>
            <div class="timeline-middle">
              <div class="timeline-point"></div>
            </div>

            <div class="timeline-component"  data-aos="fade-up-left">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/ehata.png" class="card-img-top" alt="ehata.co">
                  <div class="card-body">
                    <h5 class="card-title" i18n>Ehata - Official Website</h5>
                    <p class="card-text" i18n>Ehata.com is the official profile website for Ehata, showcasing thier company's mission, services, and innovative solutions.</p>
                    <a href="https://ehata.co" class="btn btn-primary" target="_blank" i18n>Demo</a>
                  </div>
                </div>
            </div>
            

            <div class="timeline-component"  data-aos="fade-up-right">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/dento.png" class="card-img-top" alt="dento.co">
                  <div class="card-body">
                    <h5 class="card-title" i18n>Dento Website</h5>
                    <p class="card-text" i18n>The Dento Website is a demo project designed to showcase a user-friendly frontend interface for booking appointments with dental doctors.</p>
                    <a href="https://saadayman.github.io/DentoWebsite" class="btn btn-primary" target="_blank" i18n>Demo</a>
                  </div>
                </div>
            </div>
    

            <div class="timeline-middle">
              <div class="timeline-point"></div>

            </div>

            <div class="timeline-component"  data-aos="fade-up-left">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/montana.png" class="card-img-top" alt="montana">
                  <div class="card-body">
                    <h5 class="card-title">Montana Website</h5>
                    <p class="card-text">The Montana Resort Booking Website is a demo project designed to showcase a user-friendly frontend interface for booking rooms at a luxurious resort.</p>
                    <a href="https://saadayman.github.io/Montana/" class="btn btn-primary" target="_blank" i18n>Demo</a>
                  </div>
                </div>
            </div>
            <div class="timeline-component"  data-aos="fade-up-right">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/realstate.png" class="card-img-top" alt="realstate">
                  <div class="card-body">
                    <h5 class="card-title">myHome Website</h5>
                    <p class="card-text">The myHome Website is a demo project designed to showcase a comprehensive platform for listing homes for sale. This website features both frontend and backend functionality, providing a complete solution for users looking to buy or sell homes.</p>
                    <a href="https://myhome-realestate.onrender.com/" class="btn btn-primary" target="_blank" i18n>Demo</a>
                  </div>
                </div>
            </div>
    

            <div class="timeline-middle">
              <div class="timeline-point"></div>
              <div class="timeline-point timeline-point-bottom"></div>

            </div>


          </div>
    </div>


</section>
