<section class="projects-section">

    <div class="container text-center">
        <h1 class="white-color">Projects</h1>
        <div class="timeline" data-aos="zoom-in">
            <div class="timeline-component"  data-aos="fade-up-right">
                <div class="card h-100 front-face">
                    <img src="../../../../assets/imgs/project1.png" class="card-img-top" alt="nixpend">
                    <div class="card-body">
                      <h5 class="card-title">Nixpend - Official Website</h5>
                      <p class="card-text">Nixpend.com is the official profile website for Nixpend, showcasing our company's mission, services, and innovative solutions in Healthcare management.</p>
                      <a href="https://nixpend.com" class="btn btn-primary" target="_blank">Demo</a>
                    </div>
                  </div>
              </div>
            <div class="timeline-middle">
              <div class="timeline-point"></div>
              <div class="timeline-point timeline-point-bottom"></div>

            </div>

            <div class="timeline-component"  data-aos="fade-up-left">
              <div class="card h-100">
                  <img src="../../../../assets/imgs/ehata.png" class="card-img-top" alt="ehata.co">
                  <div class="card-body">
                    <h5 class="card-title">Ehata - Official Website</h5>
                    <p class="card-text">Ehata.com is the official profile website for Ehata, showcasing thier company's mission, services, and innovative solutions.</p>
                    <a href="https://ehata.co" class="btn btn-primary" target="_blank">Demo</a>
                  </div>
                </div>
            </div>
    
          </div>
    </div>


</section>
