<section class="experience-section">
  <div class="container text-center">
      <h1 class="white-color">{{ 'EDUCATION.TITLE' | translate }}</h1>
      <div class="timeline" data-aos="zoom-in">
          <div class="timeline-component" data-aos="fade-up-right">
            <div class="timeline-date timeline-date--right">{{ 'EDUCATION.DATES' | translate }}</div>
          </div>
          <div class="timeline-middle">
            <div class="timeline-point"></div>
            <div class="timeline-point timeline-point-bottom"></div>  
          </div>
          <div class="timeline-component timeline-component--bg" data-aos="fade-up-left">
            <h2 class="timeline-title"><i class="fa-solid fa-user-graduate mx-2"></i> {{ 'EDUCATION.DEGREE' | translate }}</h2>
            <p class="company-name"><i class="fa-solid fa-building-columns mx-2"></i> {{ 'EDUCATION.UNIVERSITY' | translate }}</p>
            <p>{{ 'EDUCATION.GPA' | translate }}</p>
          </div>
        </div>
  </div>
</section>
