<!-- 
• Angular
• Node js
• Express framework
• Bootstrap
• Ionic
• Rxjs
• JavaScript
• Postman
• Swagger
• TypeScript
• Socket io
• Cloud storage Services like: S3
object storage , Google object
storage , and oracle object
storage
• Linux (Ubuntu)
• Databases: Mongodb ,
Mysql(MariaDb)
• ORM tools: mongoose , prisma
• Version Control tools like: Git ,
Github , gitlab , azure devops


          
          

          
          
          
          
          
          
          
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
       
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongoose/mongoose-original-wordmark.svg" />
           
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            
      
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuredevops/azuredevops-original.svg" />
              
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gitlab/gitlab-original-wordmark.svg" />
          
<img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" /> -->
          
<section class="experience-section">
    <div class="container text-center">
        <h1>
            Skills
        </h1>
        <div class="timeline" data-aos="zoom-in">
            <div class="timeline-component"  data-aos="fade-up-right">
              <div class="timeline-date skill timeline-date--right">
                <div class="skill-img">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" />
                </div>
            </div>
            </div>
            <div class="timeline-middle">
              <div class="timeline-point"></div>
            </div>
            
            <div class="timeline-component"  data-aos="fade-up-left">
                <div class="timeline-date skill skill-left">
                  <div class="skill-img">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" />

                  </div>
              </div>
              </div>


              <div class="timeline-component" data-aos="fade-up-right">
                <div class="timeline-date skill timeline-date--right">
                  <div class="skill-img">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />

                  </div>
              </div>
              </div>
              <div class="timeline-middle">
                <div class="timeline-point"></div>

              </div>
              
              <div class="timeline-component"   data-aos="fade-up-left">
                  <div class="timeline-date skill skill-left">
                    <div class="skill-img">
                        <img src="../../../../assets/imgs/express.svg" />

                    </div>
                </div>
                </div>
  
  
  
                <div class="timeline-component"   data-aos="fade-up-right">
                    <div class="timeline-date skill timeline-date--right">
                      <div class="skill-img">
                   
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
          
                        
                      </div>
                  </div>
                  </div>
                  <div class="timeline-middle">
                    <div class="timeline-point"></div>
    
                  </div>
                  
                  <div class="timeline-component"   data-aos="fade-up-left">
                      <div class="timeline-date skill skill-left">
                        <div class="skill-img">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ionic/ionic-original.svg" />

    
                        </div>
                    </div>
                    </div>
  


                    <div class="timeline-component"   data-aos="fade-up-right">
                        <div class="timeline-date skill timeline-date--right">
                          <div class="skill-img">
                       
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rxjs/rxjs-original.svg" />

              
                            
                          </div>
                      </div>
                      </div>
                      <div class="timeline-middle">
                        <div class="timeline-point"></div>
        
                      </div>
                      
                      <div class="timeline-component"   data-aos="fade-up-left">
                          <div class="timeline-date skill skill-left">
                            <div class="skill-img">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />

    
        
                            </div>
                        </div>
                        </div>
      
              
                        

                    <div class="timeline-component"   data-aos="fade-up-right">
                        <div class="timeline-date skill timeline-date--right">
                          <div class="skill-img">
                       
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" />


              
                            
                          </div>
                      </div>
                      </div>
                      <div class="timeline-middle">
                        <div class="timeline-point"></div>
        
                      </div>
                      
                      <div class="timeline-component"   data-aos="fade-up-left">
                          <div class="timeline-date skill skill-left">
                            <div class="skill-img">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swagger/swagger-original.svg" />


    
        
                            </div>
                        </div>
                        </div>
      


                        

                    <div class="timeline-component"   data-aos="fade-up-right">
                        <div class="timeline-date skill timeline-date--right">
                          <div class="skill-img">
                       
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />


              
                            
                          </div>
                      </div>
                      </div>
                      <div class="timeline-middle">
                        <div class="timeline-point"></div>
                        <div class="timeline-point timeline-point-bottom"></div>
        
                      </div>
                      
                      <div class="timeline-component"   data-aos="fade-up-left">
                          <div class="timeline-date skill skill-left">
                            <div class="skill-img">


                                <i class="devicon-socketio-original"></i>
                    

    
        
                            </div>
                        </div>
                        </div>
      


          </div>
    </div>
</section>